@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

/* Color Palette source https://coolors.co/dde392-afbe8f-7d8570-646f58-504b3a */
:root {
    --vanilla: #dbe2a1;
    --mindaro: #dde392ff;
    --drab-dark-brown: #504b3aff;

    --default-font: 'Quicksand', sans-serif;
    --heading-font: 'Kanit', sans-serif;

    --border-radius: 0.5rem;
    --max-width: 1000px;
    --left-column-width: 13rem;
}

html * {
    font-family: var(--default-font);
    color: var(--drab-dark-brown);
}

body {
    width: 80%;
    max-width: var(--max-width);
    min-width: calc(var(--left-column-width) + 4rem);
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
	justify-content: space-around;
	padding: 20px;
    background-color: var(--mindaro);
}

nav a {
    font-family: var(--heading-font);
	display: block;
	color: var(--drab-dark-brown);
	text-align: center;
	padding: .3rem;
	border-top: 3px solid rgba(255, 255, 255, 0);
	border-bottom: 3px solid rgba(255, 255, 255, 0);
	text-decoration: none;
}

nav a:hover {
    transition: border-color 1s ease;
	border-top: 3px solid;
	border-bottom: 3px solid;
}

nav a:not(:hover) {
    transition: border-color 0.5s ease;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    text-align: center;
}

h1 {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 1.5rem 0 0;
    padding: 1rem;
    background-color: var(--drab-dark-brown);
    color: var(--mindaro);
}

h2, h3 {
    color: var(--drab-dark-brown);
}

h2 {
    margin: 0 0 1rem 0;
}

h3 {
    padding: 1rem 0 0 0;
}

main, nav, footer {
    border: 2px solid var(--drab-dark-brown);
    padding: .5rem;
}

main, footer {
    border-top: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
    background-color: var(--vanilla);
}

.panel {
    border: 2px solid var(--drab-dark-brown);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: .2rem;
}

.panel#details,
.panel#actor {
    flex: 0 0 var(--left-column-width);
}

.panel#actors-panel,
.panel#schedule-panel {
    flex: 1 0 var(--left-column-width);
}

#details label::after {
    content: ":";
}

#details * {
    margin: .3rem 0;
}

#details input[type="text"] {
    margin-left: 1rem;
    width: 100%;
}

#details input[type="submit"] {
    width: 100%;
}

input[type="submit"] {
    padding: .5rem 1rem;
    border-color: var(--drab-dark-brown);
    background-color: var(--drab-dark-brown);
    color: var(--mindaro);
}

#details div.input {
    display: flex;
    justify-content: space-between;
}

.scrollable {
    overflow: auto;
}

#fullcast {
    height: 15rem;
}

div.actor-mini {
    display: flex;
    align-items: center;
}

div.actor-mini img {
    display: inline-block;
    height: 30px;
    width: 25px;
}

div.actor-label {
    display: inline;
    padding-left: .5rem;
}

#actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.actor-large {
    display: flex;
    width: calc(var(--left-column-width) - 1rem);
    padding: .5rem 0;
}

div.actor-large img {
    height: 90px;
    width: 75px;
}

div.actor-label p,
#schedule-panel p {
    margin: 0;
}

div.actor-label p.role {
    font-size: 11pt;
}

#actor p.name,
#schedule-panel p.date {
    font-size: 15pt;
    font-weight: bold;
}

#schedule-panel p {
    font-size: 11pt;
}

.rehearsal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.rehearsal input[type="submit"] {
    height: 2.5rem;
}

#actor p {
    margin: 0;
}

footer {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--drab-dark-brown);
    text-align: center;
    margin: 0 0 1.5rem 0;
    padding: 1rem;
}

footer p,
footer span {
    color: var(--mindaro);
    margin: 0;
}

#lastModified {
    font-size: small;
}