@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

/* Color Palette source https://coolors.co/dde392-afbe8f-7d8570-646f58-504b3a */
:root {
    --vanilla: #dbe2a1;
    --mindaro: #dde392ff;
    --drab-dark-brown: #504b3aff;

    --default-font: 'Quicksand', sans-serif;
    --heading-font: 'Kanit', sans-serif;

    --border-radius: 0.5rem;
    --max-width: 1000px;
}

html * {
    font-family: var(--default-font);
}

body {
    width: 80%;
    max-width: var(--max-width);
    margin: auto;
}

h1 {
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
}

h2, h3 {
    color: var(--drab-dark-brown);
}

/* h1, nav, */main, footer {
    border: 2px solid var(--drab-dark-brown);
    padding: .5rem;
}

main, footer {
    border-top: 0;
}

h1 {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: 1.5rem 0 0;
    padding: 1rem;
    background-color: var(--drab-dark-brown);
    color: var(--mindaro);
}

th {
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 1rem;
}

td, th {
    border: var(--drab-dark-brown) solid 1px;
    padding: .3rem .5rem;
}

td.color-sample, td.font-sample {
    text-align: center;
}


main {
    max-width: var(--max-width);
    margin: auto;
    overflow: hidden;
    background-color: var(--vanilla);
}

main a {
    color: var(--drab-dark-brown);
}

footer {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--drab-dark-brown);
    color: var(--mindaro);
    text-align: center;
    margin: 0 0 1.5rem 0;
    padding: 1rem;
}

footer p {
    margin: 0;
}

#lastModified {
    font-size: small;
}